<a href="https://colab.research.google.com/github/VictorPabloCristina/DataSet-Proyecto-F-CH/blob/main/Seleccion_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataSet Mundial

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Data Science/Datasets/FIFA22_official_data.csv")
df

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16705,240558,18 L. Clayton,17,https://cdn.sofifa.com/players/240/558/18_60.png,England,https://cdn.sofifa.com/flags/gb-eng.png,53,70,Cheltenham Town,https://cdn.sofifa.com/teams/1936/30.png,...,12.0,55.0,54.0,52.0,50.0,59.0,GK,52.0,€238K,NaN
16706,262846,�. Dobre,20,https://cdn.sofifa.com/players/262/846/22_60.png,Romania,https://cdn.sofifa.com/flags/ro.png,53,63,FC Academica Clinceni,https://cdn.sofifa.com/teams/113391/30.png,...,12.0,57.0,52.0,53.0,48.0,58.0,GK,53.0,€279K,5.0
16707,241317,21 Xue Qinghao,19,https://cdn.sofifa.com/players/241/317/21_60.png,China PR,https://cdn.sofifa.com/flags/cn.png,47,60,Shanghai Shenhua FC,https://cdn.sofifa.com/teams/110955/30.png,...,9.0,49.0,48.0,45.0,38.0,52.0,GK,47.0,€223K,21.0
16708,259646,A. Shaikh,18,https://cdn.sofifa.com/players/259/646/22_60.png,India,https://cdn.sofifa.com/flags/in.png,47,67,ATK Mohun Bagan FC,https://cdn.sofifa.com/teams/113146/30.png,...,13.0,49.0,41.0,39.0,45.0,49.0,GK,47.0,€259K,7.0
16709,178453,07 A. Censori,17,https://cdn.sofifa.com/players/178/453/07_60.png,Italy,https://cdn.sofifa.com/flags/it.png,28,38,Arezzo,https://cdn.sofifa.com/teams/110907/30.png,...,NaN,7.0,1.0,36.0,6.0,9.0,ST,36.0,NaN,NaN

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/AC_EQ_ASG_AUSENCIAS_PERSON.xlsx")
df

,Ausencias del Personal a Cargo,286,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,ID,Nombre,F Inic,F Regreso,Hora Inicio,Hora Regreso,Tipo Ausencia,Descr
1,569350,Angel Ricardo Rodriguez,2022-01-06 00:00:00,2022-01-06 00:00:00,NaN,NaN,064,Hs.Perdidas x Conflict.Gremial
2,569350,Angel Ricardo Rodriguez,2022-01-15 00:00:00,2022-01-15 00:00:00,NaN,NaN,102,RES. 92/2021 LIC.VACUNA COVID
3,569350,Angel Ricardo Rodriguez,2022-01-29 00:00:00,2022-01-29 00:00:00,NaN,NaN,063,Franco Compensatorio
4,569350,Angel Ricardo Rodriguez,2022-02-05 00:00:00,2022-02-07 00:00:00,NaN,NaN,002,Enfermedad
...,...,...,...,...,...,...,...,...
282,574818,Mauro Omar Acuña,2022-09-28 00:00:00,2022-09-28 00:00:00,NaN,NaN,063,Franco Compensatorio
283,574818,Mauro Omar Acuña,2022-11-03 00:00:00,2022-11-03 00:00:00,NaN,NaN,063,Franco Compensatorio
284,574818,Mauro Omar Acuña,2023-02-10 00:00:00,2023-02-10 00:00:00,12.00,14.00,006,Permiso por Hs. Determinadas
285,574818,Mauro Omar Acuña,2023-02-11 00:00:00,2023-02-11 00:00:00,NaN,NaN,063,Franco Compensatorio
286,574818,Mauro Omar Acuña,2023-02-22 00:00:00,2023-02-28 00:00:00,NaN,NaN,071,Vacaciones

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd


df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/Analisis AUX - Dic 22.xlsx")
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,Variacion a nivel Negocio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,SFS 2021,SFS 2022,Var. Q,Var. %,2021,2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Bolsas,287750.71,284443.667688,-3307.042312,-0.011493,816056604.800392,712762172.614926,NaN,NaN,...,Evolucion Inflacion,NaN,IPC Dic - 22,1134.5875,0.947932,NaN,NaN,NaN,NaN,NaN
4,NaN,Cartón,1495608.6332,1514238.568435,18629.935235,0.012456,6905627936.772207,7650970670.062647,NaN,NaN,...,NaN,NaN,IPC Dic - 21,582.4575,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Flexible,623638.618816,631126.258816,7487.64,0.012006,589276825.103364,618581240.001652,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Papel Reciclado,700217.383023,585433.475326,-114783.907697,-0.163926,1264548337.642862,1322218068.244354,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Papel Virgen,2649060.016868,2577198.005368,-71862.0115,-0.027127,3803034211.622397,3858426108.523025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Total general,5756275.361907,5592439.975633,-163835.386274,-0.028462,13378543915.941223,14162958259.446606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Variacion a nivel Planta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,SFS 2021,SFS 2022,Var. Q,Var. %,2021,2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,601,340533.719902,388206.777005,47673.057103,0.139995,2005773098.069772,2135383321.952409,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,602,189143.246199,205228.059999,16084.8138,0.08504,1502873990.185835,1725220914.178764,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,603,294825.019999,253783.183,-41041.836999,-0.139207,772934811.548365,781098685.160364,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,604,104307.66,99886.18,-4421.48,-0.042389,246817214.579202,284224894.74665,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,607,213707.8,212390.85,-1316.95,-0.006162,117474881.2836,116358867.225155,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,613,37191.7,19331.7,-17860.0,-0.480215,11944115.451149,14791524.85627,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,620,287750.71,284443.667688,-3307.042312,-0.011493,816056604.800392,712762172.614926,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,626,2649060.016868,2577198.005368,-71862.0115,-0.027127,3803034211.622397,3858426108.523025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,631,192011.609,166520.8854,-25490.7236,-0.132756,1086774143.079839,1175415107.905108,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,632,424727.742023,303202.593778,-121525.148245,-0.286125,622106021.982398,596634929.76321,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,633,31428.39,90264.679931,58836.289931,1.872075,239050648.606257,402976164.782218,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,634,196767.1481,178512.4331,-18254.715,-0.092773,1168802248.547393,1299726084.002478,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,635,171181.981,182344.701548,11162.720548,0.06521,395625101.081264,441358243.734493,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,721,194861,196176,1315,0.006748,107852411.421042,129640791.3335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,794,428777.618816,434950.258816,6172.64,0.014396,481424413.682324,488940448.668151,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Total general,5756275.361907,5592439.975633,-163835.386274,-0.028462,13378543915.941231,14162958259.446722,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,Negocio,Unidad negocio,SFS 2021,SFS 2022,$ 2021,$ 2022,Var. Absoluta,Var. %,NaN,...,Negocio,Unidad negocio,Desc Flia,Desc SubFlia,SFS 2021,SFS 2022,2.021000e+03,2.022000e+03,Var. Absoluta,Var. %
36,NaN,Papel Reciclado,604,104307.66,99886.18,246817214.579204,284224894.746647,37407680.167443,0.15156,NaN,...,Papel Reciclado,604,REPUESTOS ESPECIFICOS,NaN,7971,2413.9,1.089037e+08,1.303075e+08,21403851.202236,0.196539
37,NaN,Total general,NaN,104307.66,99886.18,246817214.579204,284224894.746647,37407680.167443,0.15156,NaN,...,NaN,NaN,REPUESTOS NO STANDARD,NaN,2619,2451,2.842537e+07,4.899856e+07,20573196.439828,0.723762
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,MECA CAÑERIAS Y ACCESORIOS,NaN,3221,3279,1.089114e+07,1.210722e+07,1216079.530981,0.111658
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NEUM VALVULAS NEUMATICAS,NaN,204,199,9.271658e+05,1.437922e+06,510756.127819,0.550879
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,ELCA ELEMENTOS DE ELECTRONICA,NaN,119,123,2.898265e+05,6.810118e+05,391185.322221,1.349723
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total Papel Reciclado,NaN,NaN,NaN,14134,8465.9,1.494372e+08,1.935322e+08,44095068.623083,0.295074
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total general,NaN,NaN,NaN,14134,8465.9,1.494372e+08,1.935322e+08,44095068.623083,0.295074
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/Fallos.xlsx")
df

,INDISPONIBILIDAD TOTAL,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indisponibilidad C7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indisponibilidad Total,NaN,NaN,NaN
2,Equipo,C7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Fecha,(Todas),NaN,NaN
3,Fecha,(Todas),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Equipo,(Varios elementos),NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Valores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Valores,NaN,NaN
6,Etiquetas de fila,% Fallos Consolidado,Objetivo Por Equipo,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Etiquetas de fila,% de Fallos Consolidado,Objetivo Total,NaN
7,2020,0.046102,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,0.051918,0.032,NaN
8,2021,0.032223,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.043516,0.032,NaN
9,2022,0.040993,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,0.043022,0.032,NaN
10,Enero,0.03017,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enero,0.044787,0.032,NaN
11,Febrero,0.05911,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Febrero,0.046779,0.032,NaN
12,Marzo,0,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marzo,0,0.032,NaN
13,Abril,0,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abril,0,0.032,NaN
14,Mayo,0,0.0273,0.031395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mayo,0,0.032,NaN
15,Junio,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Junio,0,0.032,NaN
16,Julio,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Julio,0,0.032,NaN
17,Agosto,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Agosto,0,0.032,NaN
18,Septiembre,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Septiembre,0,0.032,NaN
19,Octubre,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Octubre,0,0.032,NaN
20,Noviembre,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noviembre,0,0.032,NaN
21,Diciembre,0,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diciembre,0,0.032,NaN
22,Acum. 2023,0.043378,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Acum. 2023,0.049822,0.032,NaN
23,Total general,0.040178,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total general,0.046232,0.032,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Indisponibilidad 28/02/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indisponibilidad Febrero,NaN,NaN,Indisponibilidad (Todas)
27,Fecha,2023-02-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mes,Febrero,NaN,NaN
28,Mes,(Varios elementos),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Valores,NaN,NaN
30,NaN,Valores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Etiquetas de fila,Suma de % Fallos Consolidado,Objetivo Por Equipo,NaN
31,Etiquetas de fila,Suma de % Fallos Consolidado,Objetivo Por Equipo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C7,0.05911,0.0273,NaN
32,C7,0.033482,0.0273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S16,0.019658,0.0222,NaN
33,S16,0,0.0222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W12,0,0.039,NaN
34,W12,0,0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W19,0.064161,0.039,NaN
35,W19,0.014979,0.039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total general,0.046779,0.031875,NaN
36,Total general,0.018555,0.031875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TOTAL,0.142929,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C7,0.413562,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S16,0.137535,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W12,0,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W19,0.448903,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/OT grales de fabrica limpio.xlsx")
df

,Número orden,Tipo orden,Descripción tipo orden,Tipo OT,Descripción tipo OT,Prioridad,Descripción prioridad,Número activo,Descripción número activo,Número unidad,...,Cat 12,Cat 13,Cat 14,Cat 15,Cat 16,Cat 17,Cat 18,Cat 19,Cat 20,Problema
0,30880294,WW,ARMAR PAR CORRUGADOR BACK UP,7,Roja,,.,2149015,C7-PUENTE ACUMULADOR CBZ JS,ACM000006,...,B,B,B,3B,,,,,,ARMAR PAR CORRUGADOR BACK UP
1,30880600,WW,CAMBIO DE SOPORTES DE MOLAS,7,Roja,,.,2149056,C7-SLITTER SCORER-SCR2500,CRT000293,...,A,A,A,3A,,,,,,RUEDA DE CORTE
2,30880877,WW,MP MEC INSPECCION SEMANAL SUP,7,Roja,,.,2149060,C7-CUT-OFF,CRT000295,...,A,A,A,4A,,,,,,MP MEC INSPECCION SEMANAL SUP
3,30880884,WW,MP MEC INSPECCION SEMANAL INF,7,Roja,,.,2149060,C7-CUT-OFF,CRT000295,...,A,A,A,4A,,,,,,MP MEC INSPECCION SEMANAL INF
4,30880959,WW,MP-8401-MEC-C7-3M-MPRE ENFR. A,7,Roja,,.,2148998,C7-ENFRIADOR ADIABATIC,ENF000548,...,C,C,C,4C,,,,,,MP-8401-MEC-C7-3M-MPRE ENFR. A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11015,35944665,WW,limpiar rodillos,6,Azul,,.,2149047,C7-MESA DE SECADO,MES004683,...,B,B,B,3B,,,,,,TENSORES DEL PAÑO
11016,35944667,WW,limpiar batea,6,Azul,,.,2149007,C7-CABEZAL CORRUGADOR JS,CBZ000116,...,C,C,C,4C,,,,,,LIMPIAR BATEA
11017,35944668,WW,limpiar pulmon en cabezal js,6,Azul,,.,2149007,C7-CABEZAL CORRUGADOR JS,CBZ000116,...,C,C,C,4C,,,,,,LIMPIAR
11018,35959781,WM,MP-USI-1S CORRUGADORA GRAL,O,Preventivo,T,Mantenimiento,2148997,C7-CORRUGADORA,LIN001015,...,C,C,C,4C,,,,,,MP-USI-1S CORRUGADORA GRAL
11019,35959782,WM,MP-MEC-1M EMP 5,O,Preventivo,T,Mantenimiento,2149003,C7-EMPALMADOR LINER 5 CBZ-JS,EMP000821,...,B,B,A,A,,,,,,MP-MEC-1M EMP 5

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/Ordenes_compra.xlsx")
df

,Número orden,Cantidad por recibir,UM,Importe por recibir,Destino envío,Tp ord,Cía orden,Orden cambio,Nº prove,Nombre proveedor,...,Línea rel,Número línea,Imp Y/N,Explc fisc,Tasa/zona fiscal,F recep,Número envío,Nº plan,Elevación,Número producción
0,59461,1.0,UN,0.00,12063303,6I,6,0,12060103,DEP. PAÑOL CART. PARANA (PAR),...,1.0,1.0,N,E,MRP,NaT,2529.0,,,
1,60334,0.0,UN,0.00,12063303,6I,6,0,12060103,DEP. PAÑOL CART. PARANA (PAR),...,1.0,1.0,N,E,MRP,2020-12-21,2626.0,,,
2,60334,0.0,UN,0.00,12063303,6I,6,0,12060103,DEP. PAÑOL CART. PARANA (PAR),...,2.0,2.0,N,E,MRP,2020-12-21,2626.0,,,
3,69288,1.0,UN,8838.32,12063303,6I,6,0,12063103,DEP. PAÑOL. CART. QUILMES,...,1.0,1.0,N,E,MRP,NaT,294.0,,,
4,70452,0.0,MT,0.00,12063303,6I,6,0,12063103,DEP. PAÑOL. CART. QUILMES,...,1.0,1.0,N,E,MRP,2021-04-15,376.0,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10161,52752286,40.0,UN,320.58,12063303,6A,6,0,384760,MAZZARELLA ALBERTO BENJAMIN,...,0.0,5.0,Y,V,21,NaT,NaN,,,
10162,52752286,50.0,UN,18032.40,12063303,6A,6,0,384760,MAZZARELLA ALBERTO BENJAMIN,...,0.0,6.0,Y,V,21,NaT,NaN,,,
10163,52752289,2.0,KG,6439.57,12063303,6A,6,0,384760,MAZZARELLA ALBERTO BENJAMIN,...,0.0,1.0,Y,V,21,NaT,NaN,,,
10164,52752433,2.0,UN,256861.52,12063303,6A,6,0,304751,VALVTRONIC S.A.,...,0.0,1.0,Y,V,21,NaT,NaN,,,
10165,52752999,10.0,UN,197775.66,12063303,6A,6,0,252895,TRANSELEC S R L,...,0.0,1.0,Y,V,21,NaT,NaN,,,

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Data Science/Datasets/calidad-aire.csv")
df

,FECHA,HORA,CO_CENTENARIO,NO2_CENTENARIO,PM10_CENTENARIO,CO_CORDOBA,NO2_CORDOBA,PM10_CORDOBA,CO_LA_BOCA,NO2_LA_BOCA,PM10_LA_BOCA,CO_PALERMO,NO2_PALERMO,PM10_PALERMO
0,20JAN2010:00:00:00,2,s/d,s/d,NaN,s/d,27,NaN,s/d,15,NaN,0.78,NaN,NaN
1,20JAN2010:00:00:00,3,s/d,s/d,NaN,s/d,20,NaN,s/d,14,NaN,0.75,NaN,NaN
2,20JAN2010:00:00:00,9,s/d,s/d,NaN,s/d,29,NaN,s/d,28,NaN,0.74,NaN,NaN
3,11JAN2010:00:00:00,4,s/d,s/d,NaN,s/d,8,NaN,s/d,13,NaN,0.69,NaN,NaN
4,11JAN2010:00:00:00,7,s/d,s/d,NaN,s/d,11,NaN,s/d,22,NaN,0.71,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115981,20JUL2015:00:00:00,15,0.44,13,22,1.10,41,29,0.07,6,12,NaN,NaN,NaN
115982,12NOV2011:00:00:00,21,0.39,35,26,0.17,s/d,27,0.07,27,29,NaN,NaN,NaN
115983,16MAR2011:00:00:00,11,s/d,18,s/d,0.20,23,33,0.18,34,34,NaN,NaN,NaN
115984,29SEP2010:00:00:00,21,s/d,23,NaN,0.79,s/d,NaN,0.21,25,NaN,NaN,NaN,NaN
115985,17NOV2013:00:00:00,8,0.31,s/d,22,s/d,s/d,s/d,<0.05,11,20,NaN,NaN,NaN

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/Data Science/Datasets/fallos limpio.xlsx")
df

,Periodo,Mes,Linea,N°,Fecha,Ini,Fin,Durac,1,2,...,Unnamed: 16352,Unnamed: 16353,Unnamed: 16354,Unnamed: 16355,Unnamed: 16356,Unnamed: 16357,Unnamed: 16358,Unnamed: 16359,Unnamed: 16360,Unnamed: 16361
0,2017/1,2017,C7,230.0,1/12/2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017/1,2017,C7,231.0,1/12/2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017/1,2017,C7,233.0,1/12/2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017/1,2017,C7,229.0,1/12/2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017/1,2017,C7,232.0,1/12/2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3599,2023/3,Mar-23,C7,15.0,2023-03-08 00:00:00,22:43:00,22:48:00,00:05:00,,,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3600,2023/3,Mar-23,C7,17.0,2023-03-08 00:00:00,23:10:00,23:24:00,00:14:00,,,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3601,2023/3,Mar-23,C7,2.0,2023-03-09 00:00:00,02:07:00,02:11:00,00:04:00,,,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3602,2023/3,Mar-23,C7,3.0,2023-03-09 00:00:00,04:31:00,04:39:00,00:08:00,,,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3603,2023/3,Mar-23,C7,12.0,2023-03-09 00:00:00,23:34:00,23:42:00,00:08:00,,,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN